@model IEnumerable<MvcApp.ViewModels.CourseViewModel>
@{
    ViewData["Title"] = "Available Courses";
}
<h1 class="page-title">@ViewData["Title"]</h1>

<article>
    <section class="gallery-wrapper">
        @* <div>Hey @ViewData["CourseID"]</div> *@
        @foreach (var course in Model!){
            <div class="gallery-card">
                <h3><a asp-controller="Courses"  asp-action="Details" asp-route-id="@course.CourseId"> Course Nr: @course.CourseNumber | @course.Name</a></h3>
                <p>Duration: @course.Duration</p>
                <p>Description: @course.Description</p>
            </div>
        }
         @* asp-route-id="@course.CourseId" *@
    </section>
</article>

@* 220510_13.. 48:00 *@
@* <div class="modal">  
    <button class="close-modal">&times;</button>
    <div class="modal-container">Here is something more to see!</div>
</div> *@